@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Manjari&family=Ultra&display=swap');

body{
    font-family: 'Manjari',sans-serif;
}
.logo{
    font-family: 'Ultra', serif;
}
.search{
    display: none;
}
.form2{
    display: none;
}

@media (max-width:618px) {
   .search{
       display: block;
   }
   .form{
       display: none;
   }
   .form2{
       display: block;
   }
}