@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Manjari&family=Ultra&display=swap');

body{
    font-family: 'Manjari',sans-serif;
    background: #E5E7EB;
}
.logo{
    font-family: 'Ultra', serif;
}

.navbar{
    height:25rem;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
    position: fixed;
    top:20%;
    left: 2%;
    border-radius: 2rem;
}