@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Manjari&family=Ultra&display=swap');

body{
    /* font-family: 'Manjari',sans-serif; */
    background: #E5E7EB;
}
.logo{
    font-family: 'Ultra', serif;
}

.navbar{
    height:25rem;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
    position: fixed;
    top:20%;
    left: 2%;
    border-radius: 2rem;
    box-shadow: 2px 2px 2px rgb(104, 65, 21);
}
.main{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

}
.icon{
    display: flex;
    justify-content: center;
    align-items: center;
    width:3rem;
    height: 3rem;
    border-radius: 999px;
    box-shadow: 2px 2px 2px rgb(104, 65, 21);
    transition: 100ms ease;
}